$lightGrey: #dddddd;
$grey: #474747;
$menuColor: #cbefef;

.Header-container {
  // z-index: 3;
  position: fixed;
  z-index: 4;
  // text-align: center;
  // margin: 0 auto;
  border-bottom: 1px solid $grey;
  height: 100px;
  width: 95%;
  background-color: #3d4444;
  top: 0;
  padding-right: 100px;
  h3 {
    margin: 20px 0px 0px 0px;
  }
  p {
    margin: 0;
  }
  .App-header {
    float: right;
    padding: 0px 100px 0px 100px;
    // background-color: $lightGrey;
    padding: 10px;
    width: auto;
    // display: inline-block;
    color: white;
    h2 {
      margin: 0;
    }
    .Group-Name {
      padding: 0;
      margin: 0;
      float: right;
    }
  }
}
