$grey: #474747;
$blue: #099499;
$lightGrey: #dddddd;

.degreeInfo {
  margin: 40px 0px 0px 0px;
  color: $grey;
  text-align: center;
  #degreesHeader {
    margin-bottom: 5px;
  }
  .additionalInfo {
    font-size: 11px;
    display: inline-block;
    margin-bottom: 30px;
  }
}
